*{
    box-sizing: border-box;
    transition: all .6s ease;
}
/* html{
    font-size: 30%;
} */







.contact{
    color: white;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.contact h1{
    font-size: 4rem;
}
.info{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}
.form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */

}
.form input{

    display: block;
    margin: 1%;
}