*{
    box-sizing: border-box;
    transition: all .6s ease;
}
/* html{
    font-size: 40%;
} */
body{
    margin: 0;
    padding: 0;
}


.intro{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    
    animation: q 3s ease infinite;


    /* margin-top: 5%; */
}

@keyframes qwe {
    40%{
        word-spacing: 50%;
    }
    70%{
        word-spacing: 30%;
    }
    100%{
        word-spacing: 0%;
    }
}

.Name{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    transform: skewY(10deg);
    /* flex-direction: column; */
    color: white;
    /* font-size: 2rem; */
}
.Name h1{
    font-size: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    
    animation: qwe  3s ease 1;


    /* margin-top: 5%; */
}

@keyframes qwe {
    from{
        /* margin: 501px; */
        word-spacing: 50px;
        transform: skew(180deg);
    }
    /* 70%{
        /* transform: skew(360deg); */

 
    to{
        transform: skew(0deg);

        word-spacing: 0px;
    }





}
.Name h2{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    height: auto;
    width: auto;
}
.about {
    display: flex;
    width: 100vw;
    z-index: -4;
    padding: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:wheat;
    /* background-color: bisque; */
    background-color: #1e4b5a;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about p{
    /* border: 2px solid white; */
    /* border-radius: 5%; */
    /* font-family:cursive; */
    font-size: 1.4rem;
    z-index: -100;






}




.about h1{
    font-size: 4rem;
}
.about h1::first-letter{
    font-size: 8rem;
    /* border: 2px solid white; */
    /* background-color: saddlebrown; */
    color: rgb(74, 146, 7);
    /* position: absolute; */
    /* left: 500px; */
    /* margin-left: -66px; */
    z-index: -521;
    animation-name: sas;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}@keyframes sas{
    50%{
        transform: skew(601deg);
    }
    70%{
        transform: skew(10deg);
    }
    100%{
        transform: skew(0deg);

    }

}


.about img{
    border-radius: 50% 60% 60% 70%;
    width: auto;
    height: 60vh;
    border: 2px solid white;

    animation: d 5s ease  infinite;
}
@keyframes d {
    10%{
        border-radius: 60% 30%;
    }
    50%{
    border-radius: 70% 70%;

    }
    70%{
    border-radius: 80%  210%;

    }
    90%{
    border-radius: 60%  100%;

    }
   100%{
       border-radius: 50% 60% 60% 70%;
       
} 

}

@keyframes ss{
    from {
        
        transform:  translateX(500px) skew(180deg);
    }
    to{
        transform: translateX(0px) skew(0deg);
        
    }
}

/* desktop */

@media (min-width:1040px) {
    html{
        font-size: 70%;
    }
        .navbar{
          
        }
        .Services{

         /* flex-direction: column; */
        }
        .Services h1{
            /* font-size: 2rem; */
        }
        .Name{
         
        }
        .Name h1{
        }
}




@media (max-width:1039px ) and (min-width:700px) {
    html{
        font-size: 60%;
    }
    .navbar{
        justify-content: center;
    }
    .Services{
        flex-direction: column;
    }
    .Services h1{
        /* font-size:2rem ; */
    }
    .Name h1 {
        /* font-size: 5rem; */
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    }
}


@media (max-width:699px) {
    html{
        font-size: 62%;
    }
    .Services{
        flex-direction: column;
    }
    .Name h1{
        /* font-size: 4rem; */
    }
    .Name h2{
        /* font-size: 1.1rem; */
    }
    .Services p {
        /* font-size: 1rem; */
    }
}

@media (max-width:400px) {
    html{
        font-size: 46%;
    }

   .about h1{
       /* display: flex; */
       /* flex-wrap: wrap; */
       /* font-size: 1.5rem; */
   }
   .navbar{
       width: 100%;
   }
   .Name{
       margin-top: 20%;
   }
   footer{
       width: 100vw;
   }
}


@media (max-width:370px) {
    html{
        font-size: 47%;
    }
    .about {
        width: 100vw;
        /* font-size: .6rem; */
    }
}
