.intro{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    /* margin-top: 5%; */
}

.Name{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    transform: skewY(10deg);
    /* flex-direction: column; */
    color: white;
    /* font-size: 2rem; */
}
.Name h1{
    font-size: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Name h2{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    height: auto;
    width: auto;
}
.about {
    display: flex;
    z-index: -4;
    padding: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about p{
    /* border: 2px solid white; */
    /* border-radius: 5%; */
    font-family:cursive;
    font-size: 1.4rem;

}
.about h1{
    font-size: 4rem;
}
.about img{
    border: 2px solid white;
    border-radius: 50% 60% 60% 70%;
    width: auto;
    height: 60vh;
}
.about h1::first-letter{
    font-size: 8rem;
    /* border: 2px solid white; */
    /* background-color: saddlebrown; */
    color: rgb(74, 146, 7);
}
.anim{
    animation-name: ss;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes ss{
    from {
        
        transform:  translateX(500px) skew(180deg);
    }
    to{
        transform: translateX(0px) skew(0deg);
        
    }
}



@media (max-width:1040px) {
        .navbar{
            width: 100%;
            /* display: flex; */
            justify-content: center;
        }
        .Services{
            display: flex;
            flex-direction: column;
        }
        .Name{
            margin-top: 5%;
            padding: 2%;
        }
        .Name h1{
            font-size: 8rem;
        }
}

@media (max-width:488px) {
    .Name h1{
        font-size: 4rem;

    }
    .Services h1{
        /* font-size: 2rem; */
    }
}

@media  (max-width:376px) {
    .navbar{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        /* justify-content: ; */
    }
    .about{
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
        padding: 5%;
    }
    .about h1{
        font-size: 2rem;
    }
}

@media (max-width:336px) {
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .about{
        padding: 5%;
    }
}