.intro{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    /* margin-top: 5%; */
}

.Name{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* flex-direction: column; */
    color: white;
    /* font-size: 2rem; */
}
.Name h1{
    font-size: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Name h2{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    height: auto;
    width: auto;
}
.about {
    display: flex;
    z-index: -4;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about h1{
    font-size: 4rem;
}
.about img{
    border: 2px solid white;
    border-radius: 50% 60% 60% 70%;
    width: auto;
    height: 60vh;
}



@media (max-width:1040px) {
        .navbar{
            width: 100%;
            /* display: flex; */
            justify-content: center;
        }
        .Services{
            display: flex;
            flex-direction: column;
        }
        .Name{
            margin-top: 5%;
            padding: 2%;
        }
        .Name h1{
            font-size: 4rem;
        }
}