*{
    box-sizing: border-box;
    transition: all .6s ease;
}
body{
    margin: 0;
    padding: 0;
}


/* html{
    font-size: 10%;
} */

.navbar{
    display: flex;
    background: rgb(3, 110, 84);
    background: rgb(0, 41, 31);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1003;
}
.navbar ul{
    display: flex;
    /* flex-wrap: wrap; */
}
.navbar  li{
    /* margin: 5%; */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}
.navbar img{
    display: none;
    justify-content: center;
    background: url('../Images/_MG_0008.JPG') no-repeat center/cover    ;
}
.navbar a{
    text-decoration: none;
    margin: 5%;
}
.navbar li:hover {
    color: wheat;
    transform: skewY(4deg);
}



