*{
    box-sizing: border-box;
    transition: all .6s ease;
}
/* html{
    font-size: 10%;
} */

.hidden{
    display: none;

}


.Services{
    display: none;
    color: white;
    justify-content: center;
    align-items: center ;
    margin: 2%;
    padding: 6% 5%;

}
.Services section{
    padding: 2% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.Services h1{
    text-align: center;
    /* font-size: 3.2rem; */
}

.Services::before{
    content: '';
    position: absolute;
    background: url('../Images/_MG_0006.JPG') no-repeat center;
    height: 30vh;
/* width: auto; */
    z-index: 1;
}